In [38]:
tu = (23, 'abc', 4.56, (2,3), 'def')#tuple 괄호도 arry로 인식 차이는 있음
                    #python은 arry 안에 따로 정수형을 입력하지않아도 인식함

In [39]:
print(tu)
print(tu[-1])

(23, 'abc', 4.56, (2, 3), 'def')
def

In [40]:
li = ["abc", 34, 4.34, 23]

In [41]:
print(li)
print(li[1])

['abc', 34, 4.34, 23]
34

In [42]:
li[0]=56
li

[56, 34, 4.34, 23]

In [43]:
li1 = li
li1

[56, 34, 4.34, 23]

In [44]:
li[0]=77
li1

[77, 34, 4.34, 23]

In [45]:
li2=li[:]
li2

[77, 34, 4.34, 23]

In [46]:
li[0]=100
li2

[77, 34, 4.34, 23]

In [47]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line string that uses triple quotes."""

In [48]:
print(st)

This is a multi-line string that uses triple quotes.

In [49]:
st = "Hello World"
print(st[1])

e

In [50]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [51]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [52]:
tu1 = tu

In [53]:
print(tu1)

(23, 'abc', 4.56, (2, 3), 'def')

In [54]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [55]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [56]:
"Hello" + "" "" + "World"

'HelloWorld'

In [57]:
t = [1, 2, 4, 5]
3 in t

False

In [58]:
4 in t

True

In [59]:
4 not in t

False

In [60]:
a = 'abcde'

'c' in a

True

In [61]:
'cd' in a

True

In [62]:
'ac' in a

False